
<h2>Welcome, <%= @user.first_name %>! </h2>
 <% @user_phase.each do |phase| %>
  <h3> <%= phase.phase_name %> </h3>

<ul>
<% @user_jobs.each do |user_job| %>

<% if user_job.current_phase? %>
<li><%= link_to user_job.job.job_title, root_path %></li>
<li><%= user_job.job.company %></li>

  <% end %>
</ul>
 <p> Remember: next steps </p>
<% end %>

