<% if @job.notes %>
<fieldset>
<legend><%= link_to "NOTES", "#add-notes-form", id: "note-link" %></legend>
  <div class="show-user-note">
    <% @job.notes.each do |note| %>
      <%= render partial: 'notes/show_note.html.erb', locals: {note: note } %>
    <% end  %>
  </div>
</fieldset>

<% end %>