  <div id="criteria-three" style="display: flex">
  <% (1..5).each do |count| %>
    <%= form_for @job, remote: true do |f| %>
      <%= f.hidden_field :criteria_three_score, value: count %>
      <% if @job.criteria_three_score >= count %>
        <%= f.submit '♥' %>
      <% else %>
        <%= f.submit '♡' %>
      <% end %>
    <% end %>
  <% end %>
</div>