<div class ="love-icon" style="display: flex">
  <p> Experienced Manager </p>
  <%= render partial: 'criteria_one', locals: { job: @job } %>
</div>

<div class ="love-icon" style="display: flex">
   <p> Great pay and benefits </p>

     <%= render partial: 'criteria_two', locals: { job: @job } %>

</div>

<div class ="love-icon" style="display: flex">
  <p> Mentorship </p>
  <%= render partial: 'criteria_three', locals: { job: @job } %>
</div>



