<h1>Here are your upcoming job events...</h1>

<div class="events=list">
  <% @events.each do |e| %>
  <ul>
    <strong><%= e.title %></strong>
    <li><strong>Location:</strong> <%= e.location %></li>
    <li><strong>Event time:</strong> <%= e.datetime.strftime("%B, %-d at %l:%M %p ")%></li>
    <li><strong>Event details:</strong> <%= e.description %></li>
  </ul>
  <% end %>
</div>
