  <div>
  <h2>Your Dream Job Criteria:</h2>
    <ol><font size="5">
      <li><font size="5"><%= @rubric.standard_one %></font></li>
      <li><font size="5"><%= @rubric.standard_two %></font></li>
      <li><font size="5"><%= @rubric.standard_three %></font></li></font>
    </ol>
  </div>

