/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require jquery-star-rating
 *= require_tree .
 *= require_self
 */


/* Use the following CSS rules to specify these families */
body {
  font-family: 'Roboto Slab', serif;
  max-width: 100%;
  margin: 15px;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.close-button.button.border-box {
  font-size: 50px;
  margin-left: -30px;
  margin-top: 5px;
}

/* Embed Font */
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">


/* Mobile First Media Queries */

/* Base style */
{ ... }

/* Larger than mobile screen */
@media (min-width: 40.0rem) { ... }

/* Larger than tablet screen */
@media (min-width: 80.0rem) { ... }

/* Larger than desktop screen */
@media (min-width: 120.0rem) { ... }


/* Embed Font */ 
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">


/* Extending The Inheritances */

/* Custom color */
.button-black {
  background-color: black;
  border-color: black;
}
.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: black;
}
.button-black.button-clear {
  border-color: transparent;
}

/* Custom size */
.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}


.close-button.button.border-box {
  font-size: 50px;
  margin-left: -30px;
  margin-top: 5px;
}
.login {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.login li {
  display: block;
  float: left;
}
.login a {
    text-align: center;
    display: block;
    padding: 14px 16px;
    color: #d3d3d3;
    text-decoration: none;
      border-radius: 50%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
          transition:         transform 1s ease-in-out;
}
li a:hover {
       color: #A926CF;
         -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#jobs-index-page {
  margin: 25px;

}







