/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require jquery-star-rating
 *= require_tree .
 *= require_self
 */


.close-button.button.border-box {
  font-size: 50px;
  margin-left: -30px;
  margin-top: 5px;
}


.login {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.login li {
  display: block;
  float: left;
}

.login a {
    text-align: center;
    display: block;
    padding: 14px 16px;
    color: #d3d3d3;
    text-decoration: none;

      border-radius: 50%;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition:         transform .2s ease-in-out;
}

li a:hover {
       color: #A926CF;
         -webkit-transform: rotate(360deg);
          transform: rotate(360deg);

}