
.main-header {
  background-color: white;
  padding-top: 170px;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home-img {
  background-image: url('https://i.imgur.com/xpf6nky.png');
}

